<h1>{{vm.title}}</h1>
<hr/>
<div class="text-center">
    <code>
       <h1> <header>Voting APP</header></h1>
       <h2><footer>by KNRT</footer></h2> 
         </code>
    
    
</div>
<hr/>
<h3><a href="/register">Register</a></h3>

<br/>
<h3><a href="/login">Login</a></h3>

<hr>
<br>
<br>


<h3>About Privacy</h3>
<hr>
<i> Relax !! <span id="a">Password is encrypted</span> so no need to worry ..</i>
<hr>

<h1>Information About this Web App</h1>
<hr>
<i>This Web Application is used to create Polls as you like and can also share them. You have to register first to create polls.</i>
<br><i>On your profile page you can see your own polls once you make them in Poll Page.Once you create your poll they can be accessed through your profile
.<div id="a">Enjoy Voting.</div></i>
<hr>
<h1>Instructions</h1>
<hr>
<ul>
    <li>Register Yourself</li>
    <li>If already Registered then you can login</li>
    <li>You will be redirected to profile page</li>
</ul>
<hr>

<style type="text/css">
    #a{
    font-weight:bold;
    }
</style>